@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-neue-haas: Neue;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayBlack.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayLight.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* semi bold in tailwind */
@font-face {
  font-family: "Neue Haas Grotesk Display Pro";
  src: url("/fonts/NeueHaasDisplayMediu.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

*/ body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-neue-haas);
}

@theme {
  --font-display: "Neue Haas Grotesk Display Pro", sans-serif;
}
